@page
@model JohariWindow.Pages.Clients.ResponseConfirmationModel
@{
}
<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">
            Responses successfully submitted
        </h1>
        Responses successfully submitted for  :@Model.userName<br /><br />
       

    </div>
    <div class="col-12 text-center" style="color:blue">
        <br />
        Your responses have been saved successfully <br />
        Thank you!
    </div>


</div>